services:
  # Định nghĩa service Database
  mongo_db:
    image: mongo:latest             # Sử dụng Image MongoDB mới nhất từ Docker Hub
    container_name: ia03_mongo      # Tên container cho dễ quản lý
    restart: always                 # Tự khởi động lại nếu bị crash
    ports:
      - "27017:27017"               # Port Mappaing: Cổng 27017 của máy thật -> 27017 của Container
    environment:
      MONGO_INITDB_ROOT_USERNAME: root  # (Tùy chọn) User root
      MONGO_INITDB_ROOT_PASSWORD: 2313032005_ia03_wad # (Tùy chọn) Pass root
    volumes:
      - mongo_data:/data/db         # Persistence: Mount dữ liệu ra ổ cứng thật để không mất khi tắt Docker

volumes:
  mongo_data:                       # Khai báo volume