services:
  # Định nghĩa service Database
  mongo_db:
    image: mongo:latest             # Sử dụng Image MongoDB mới nhất từ Docker Hub
    container_name: ia03_mongo      # Tên container cho dễ quản lý
    restart: always                 # Tự khởi động lại nếu bị crash
    ports:
      - "27017:27017"               # Port Mappaing: Cổng 27017 của máy thật -> 27017 của Container
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db         # Persistence: Mount dữ liệu ra ổ cứng thật để không mất khi tắt Docker
      - ./mongo-init:/docker-entrypoint-initdb.d:ro   # tự động seed data từ 

volumes:
  mongo_data:                       # Khai báo volume